* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CV-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    width: 794px;
    height: 1123px;
    font-family: "Inria Serif", serif;
    box-sizing: border-box;
    background-color: rgb(253, 0, 0);
    box-shadow: 45px 45px 50px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------Left Side--------------------------------------------------*/

.left-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(243,162,177,255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.profile-image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.profile-image-img{
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit:cover;
    border: 4px solid rgba(140,41,44,255);
    clip-path: circle(50%);
    background-size: cover;
    background-position: center;
}
.name-CV{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 15%;
    overflow: hidden;
    
}
.border_left-CV{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgba(140,41,44,255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.left_side-CV-header{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.contact-information-CV{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 25%;
    overflow: hidden;
}
h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
.contact-information-CV h3 i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 16px;
}
.contact-information-CV i{
    color:rgba(140,41,44,255);
}
.contact-information-CV{
    color: rgba(238,242,207,255);
}

.education-CV{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
    color: rgba(238,242,207,255);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    max-height: 27%;
    overflow: hidden;
}
.education_program-CV{
    font-size: 20px;
    color: rgba(140,41,44,255);
}
.education_school-CV{
    font-style: italic;
}
.education_dates-CV{
    display: flex;
    flex-direction: row;
    font-style: italic;
}
.dash {
    color: rgba(140, 41, 44, 255);
    font-weight: bold;
    margin: 0 5px;
}

/*--------------------------------------------------Right Side--------------------------------------------------*/

.right-side{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 70%;
    background-color: rgba(193,234,218,255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    flex-wrap: wrap;
}
.right_side-CV-header{
    display: block;
    width: 100%;
    background-color: rgba(119,140,121,255);
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 24px;
    margin-top: 20px;
    padding-left: 10px;
    --s: 80px;
    --c1: rgba(119,140,121,255);
    --c2: rgba(238,242,207,255);
        
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
        var(--c1)
    ;  
}

.about_Me-CV{
    margin-top: 10px;
    font-size: 16px;
    color: rgba(89,87,74,255);
    padding-left: 10px;
    padding-right: 10px;
    max-height: 20%;
    overflow: hidden;
}

.work-experience-CV{
    margin-top: 10px;
    font-size: 16px;
    color: rgba(89,87,74,255);
    padding-left: 10px;
    padding-right: 10px;
    max-height: 50%;
}
.job_title-CV{  
    font-size: 24px;
}
.job_statistics-CV{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-style: italic;
}

.border_right-CV{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgba(119,140,121,255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.competencies-CV{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16px;
    color: rgba(89,87,74,255);
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    width: 100%;
    max-height: 15%;
}
.name_and_level_of_skill-CV {
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 5px; 
}
#competence_name {
    font-size: 24px;
    white-space: nowrap;
}
.level_bar {
    width: 100%;
    height: 20px;
    background-color: rgba(238,242,207,255);
    border-radius: 5px;
    margin-right: 10px;
}
.level_bar_20_percent{
    width: 20%;
    height: 20px;
    background-color: rgba(242,207,187,255);
    border-radius: 5px;
}
.level_bar_40_percent{
    width: 40%;
    height: 20px;
    background-color: rgba(242,207,187,255);
    border-radius: 5px;
}
.level_bar_60_percent{
    width: 60%;
    height: 20px;
    background-color: rgba(242,207,187,255);
    border-radius: 5px;
}
.level_bar_80_percent{
    width: 80%;
    height: 20px;
    background-color: rgba(242,207,187,255);
    border-radius: 5px;
}
.level_bar_100_percent{
    width: 100%;
    height: 20px;
    background-color:rgba(242,207,187,255);
    border-radius: 5px;
}
