.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.half-circle {
  position: fixed; 
  top: 0; 
  left: -400px; 
  width: 860px; 
  height: 830px; 
  background: rgba(199, 125, 234, 0.7);
  border-top-right-radius: 100%; 
  border-top-left-radius: 100%; 
  border-bottom-left-radius: 100%; 
  filter: blur(200px); 
  z-index: -1; 
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}
.half-circle-2 {
  position: fixed;
  bottom: -400px;
  right: -400px;
  width: 860px;
  height: 830px;
  background: rgba(199, 125, 234, 0.7);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  filter: blur(200px);
  z-index: -1;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}

.register-box {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 705px;
  height: 550px;
  background-color: #F0E56B;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  gap: 5px;
  justify-self: center;
}

.register-title {
  font-size: 48;
  font-family: "Inter" , serif;
  font-weight: 800;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box h2 {
  font-family: "Inter" , serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  }

.register-input {
  width: 419px;
  height: 61px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d9d9d9;
  outline: none;
}
.register-input:hover {
  background: #C77DEA;
}
.register-input:focus {
  background: #C77DEA;
}

.register-button {
  width: 124px;
  height: 61px;
  background-color: #c77dea;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Inter" , serif;
  font-weight: 800;
  margin-top: 20px;
  align-self: flex-start;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.register-button:hover {
  color: white;
  transition: background-color 0.9s ease, color 0.9s ease;
}

.error-message {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: aliceblue;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  max-width: 80%;
  margin: 10px auto;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}
.success-message{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: aliceblue;
  color: rgb(0, 187, 22);
  border: 2px solid rgb(0, 187, 22);
  border-radius: 5px;
  max-width: 80%;
  margin: 10px auto;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
