.register-container{
  display: grid;                
  min-height: 100vh;       
}



.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.half-circle {
  position: fixed; 
  top: 0; 
  left: -400px; 
  width: 860px; 
  height: 830px; 
  background: rgba(199, 125, 234, 0.7);
  border-top-right-radius: 100%; 
  border-top-left-radius: 100%; 
  border-bottom-left-radius: 100%; 
  filter: blur(200px); 
  z-index: -1; 
}



.register-box {
 margin-top: 100px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 705px;
  height: 550px;
  background-color: #F0E56B;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  gap: 5px;
  justify-self: center;
  margin-bottom: 100px;
}

.register-title {
  font-size: 48;
  font-family: "Inter" , serif;
  font-weight: 800;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.register-box h2 {
  font-family: "Inter" , serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  }

.register-input {
  width: 419px;
  height: 61px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  background-color: #d9d9d9;
  outline: none;
}

.register-button {
  width: 124px;
  height: 61px;
  background-color: #c77dea;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Inter" , serif;
  font-weight: 800;
  margin-top: 20px;
  align-self: flex-start;
}

.register-button:hover {
  background-color: #8f57ff;
}
