<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<!-- Hanterar alla förfrågningar för att köra .NET Core-applikationen -->
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- Begränsning för att tillåta större filuppladdningar -->
		<security>
			<requestFiltering>
				<!-- Tillåt filer upp till 50MB -->
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>

		<!-- Startar applikationen genom Kestrel -->
		<aspNetCore processPath="dotnet" arguments=".\WebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>